.main {
    width: 100%;
    height: 100%;
    #components-layout-demo-custom-trigger {
        width: 100%;
        height: 100%;
    }
  }
  #components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 64px;
    padding: 10px;
    img{
      height: 44px;
      width: auto;
      display: block;
      margin: 0 auto;
    }
  }
  .header-con{
    background: #fff;
    padding: 0 0;
    width: 100%;
  }
  .main-content-con{
    height: ~"calc(100% - 60px)";
    overflow: hidden;
  } 

  .main-layout-con{
    height: 100%;
    overflow: hidden;
  }

  .tag-nav-wrapper{
    padding: 0;
    height:40px;
    background:#F0F0F0;
  }

  .content-wrapper{
    padding: 18px;
    height: ~"calc(100% - 80px)";
    overflow: auto;
  }