.custom-bread-crumb{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-left: 10px;
}
.a-custom-bread-crumb {
    height: 100%;
    line-height: 66px;
    margin-top: -3px;
}
  